# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist

# misc
.DS_Store
.env.dev
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# terraform
terraform.tfvars
lambda-package
terraform.tfstate*
.terraform
.terraform.lock.hcl